@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-rgb: 255, 255, 255;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

@layer components {
  .transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}

/* Custom styles for math formulas */
.katex-display {
  @apply my-8 px-4 py-6 bg-neutral/30 rounded-lg overflow-x-auto;
}

.katex {
  @apply text-primary-dark;
}
